@using EntityLayer.Concrete
@model List<Skill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Yetenek Kartı</title>
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/web/css/style.css">

</head>
<body >
    <!-- main -->
    <div class="main">
        <div align="center">

            <h1 style="color:black">Yetenek Kartım</h1>
            @Html.Action("AddSkill", "Skill")

            <div class="main-info w3l">
                <div class="main-row">

                    <!-- main-row-one -->
                    <div class="profile-grid logo wthree">
                        <img src="~/AdminLTE-3.0.4/dist/img/Emine.png" alt="" style="height: 200px; width: 200px;" class=" brand-image img-circle elevation-3">
                        <h2 style="color:black">Emine AŞÇI (EmineAS) </h2>
                        <p style="color:black">Düzce Üniversitesi Bilgisayar Mühendisliği</p>

                        <h3 class="title" style="color:black">Yeteneklerim</h3>
                    </div>
                    <div class="col-md-12 skills-right bar_group">
                        @foreach (var item in Model)
                        {
                            <div class="progress-group" align="left">
                                @item.SkillName
                                <span class="float-right"><b>@item.SkillLevel%</b></span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-warning" style="width: @item.SkillLevel%"></div>
                                </div>
                            </div>
                            <br />

                        }
                    </div>
                    <!--bar-js-->
                    <script src="~/AdminLTE-3.0.4/web/js/bars.js"></script>
                </div>
            </div>
        </div>
    </div>
    <!-- main -->
</body>
</html>