 <!--SEARCH FORM-->
<form class="form-inline ml-3">
    <div class="input-group input-group-sm">
        @Html.TextBox("p", null, new { @class = "form-control", @placeholder = "Ara" })
        <div class="input-group-append">
            <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>
