@using EntityLayer.Concrete
@model List<About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Veri Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Hakkımda Başlığı</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutID</td>
            <td>Başlık</td>
            <td>
                @Html.ActionLink("Aktif Yap", "DeleteAbout", "About", new { id = item.AboutID, button = "active" }, new { @class = "btn btn-success" })

            </td>
            <td>
                @Html.ActionLink("Pasif Yap", "DeleteAbout", "About", new { id = item.AboutID, button = "passive" }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>


@Html.Action("AboutPartial", "About")



<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
