@using EntityLayer.Concrete
@model List<About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@{ string msg = "";}

<h2>Hakkımda Veri Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>Hakkımda Başlığı</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var item in Model)
    {
        switch (item.AboutStatus)
        {
            case true:
                msg = "Aktif Durumda";
                break;
            case false:
                msg = "Pasif Durumda";
                break;
        }
        <tr>
            <td>Başlık</td>
            <td>
                @Html.ActionLink("Aktif Yap", "DeleteAbout", "About", new { id = item.AboutID, button = "active" }, new { @class = "btn btn-success", @title = @msg })

            </td>
            <td>
                @Html.ActionLink("Pasif Yap", "DeleteAbout", "About", new { id = item.AboutID, button = "passive" }, new { @class = "btn btn-danger", @title = @msg })
            </td>
        </tr>
    }
</table>



@Html.Action("AboutPartial", "About")



<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
