
@if (TempData["mesaj"] != null)
{
    <div class="modal" id="Modal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Uyarı</h2>
                </div>
                <form method="post" action="/About/DeleteAbout/">
                    <div class="modal-body">
                        <p>
                            @TempData["mesaj"].ToString()
                        </p>
                    </div>
                </form>
            </div>
        </div>

    </div>
}

